<div class="footer-newsletter-kiki">
  <h2 class="footer-newsletter-kiki__title">NEWSLETTER</h2>
  <p class="footer-newsletter-kiki__subtitle">Sign up to get the latest on sales, new releases and more …</p>

  {% form 'customer', id: 'newsletter-footer', class: 'footer-newsletter-kiki__form' %}
    {% if form.posted_successfully? %}
      <div class="note note--success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
    {% endif %}
    {% if form.context == 'footer' %}
      {% if form.errors %}
        {{ form.errors | default_errors }}
      {% endif %}
    {% endif %}

    <label for="Email-{{ block.id }}" class="hidden-label">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
    <label for="newsletter-submit-{{ block.id }}" class="hidden-label">
      {{- 'general.newsletter_form.submit' | t -}}
    </label>
    <input type="hidden" name="contact[tags]" value="prospect,newsletter">
    <input type="hidden" name="contact[context]" value="footer">

    <div class="footer-newsletter-kiki__input-group">
      <input
        type="email"
        value="{% if customer %}{{ customer.email }}{% endif %}"
        placeholder="Enter E-Mail Address"
        name="contact[email]"
        id="Email-{{ block.id }}"
        class="footer-newsletter-kiki__input"
        autocorrect="off"
        autocapitalize="off"
        required
      >
      <button
        type="submit"
        id="newsletter-submit-{{ block.id }}"
        class="footer-newsletter-kiki__btn"
        name="commit"
      >
        SIGN UP
      </button>
    </div>
  {% endform %}
</div>
